/* MY CSS STYLES */
/* grid: https: //studiomeal.com/archives/533 */
/* google fonts: https: //fonts.google.com/ */
.container-box {
  /* position: */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  background-color: #A1B297;
  border-radius: 1.5vw;
  /* dimension: */
  height: 18rem;
  width: 60rem;
  max-height: 70vh;
  max-width: 90vw;
  margin: 2vh;
  padding: 3vh;
  /* grid: */
  display: grid;
  grid-template-columns: 16fr 5fr 4fr;
  grid-template-rows: 3fr 3fr 2fr;
  /* grid-template-areas:
    "text text text text text text . wpm"
    "text text text text text text . acc"
    "input input input input input redo . color-buttons"; */
}

/* TODO: need extra actual text container, maybe not */
.word-list-box {
  background-color: #EDEDED;
  border-radius: 1vw;
  overflow-y: auto;
  /* dimension: */
  margin: 1vh;
  /* TODO: fix padding for all with this setting */
  padding: 1vh 2vh 1vh 2vh;
  /* font: */
  font-family: 'Baloo 2', serif;
  font-weight: 400;
  font-size: 1.35rem;
  /* grid: */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.wpm-box {
  background-color: #EDEDED;
  border-radius: 1vw;
  /* dimension: */
  margin: 1vh 1vh 1vh 2vh;
  padding: 1vh 2vh 1vh 2vh;
  /* font: */
  font-family: 'Bakbak One', serif;
  font-size: min(2.25rem, 8vh);
  font-weight: 400;
  color: #788173;
  text-align: end;
  align-content: end;
  /* grid: */
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.acc-box {
  background-color: #EDEDED;
  border-radius: 1vw;
  /* dimension: */
  margin: 1vh 1vh 1vh 2vh;
  padding: 1vh 2vh 1vh 2vh;
  /* font: */
  font-family: 'Bakbak One', serif;
  font-size: min(2.25rem, 8vh);
  font-weight: 400;
  color: #788173;
  text-align: end;
  align-content: end;
  /* grid: */
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.content-box input {
  border-radius: 1vw;
  border-width: 0.001rem;
  border-color: transparent;
  /* dimension:  */
  margin: 1vh;
  padding: 0vh 2vh 0vh 2vh;
  /* font */
  font-family: 'Baloo 2', serif;
  font-size: min(1.25rem, 8vh);
  font-weight: 300;
  /* grid: */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.content-box input:focus {
  outline-color: rgb(95, 172, 255)5, 235, 235;
}

.redo-button {
  background-color: #F8ECCD;
  border-radius: 1vw;
  border: none;
  /* dimension:  */
  margin: 1vh;
  /* font: */
  font-family: 'Bakbak One', serif;
  font-size: min(2.25rem, 8vh);
  font-weight: 400;
  color: #788173;
  /* grid: */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.num-button-container {
  background-color: rgb(133, 133, 133);
  /* dimension:  */
  margin: 1vh 1vh 1vh 2vh;
  /* grid: */
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  /* display: grid; */
}

.num-button {
  background-color: rgb(255, 114, 114);
  border-radius: 50%;
  border-style: none;

  /* font: */
  font-family: 'Spectral', serif;
  font-size: 4px;
  font-weight: 400;
  color: rgb(48, 48, 48);
}

.redo-button:hover,
.num-button:hover {
  cursor: pointer;
}

.selected-num {
  text-decoration: underline;
}