/* MY CSS STYLES */

.box-container {
  /* background-color: aliceblue; */
  /* dimensions: */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  /* font: */
  font-family: 'Spectral', serif;
  font-weight: 400;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.results-content {
  max-width: 200px;
  margin: 5px;
}

.box-content {
  background-color: rgb(244, 244, 244);
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  /* padding to not let words overflow out of the box */
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.box-content input {
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 7px;
  border-width: 0.1px;
  height: 32px;
  width: 50%;
  font-family: 'Spectral', serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.box-content input:focus {
  outline-color: rgb(95, 172, 255)5, 235, 235;
}

.box-content input:not(:focus) {
  outline-color: rgb(235, 235, 235);
}

.redo-button {
  max-width: 60px;

  margin-left: 10px;
  margin-right: 10px;

  background-color: rgb(237, 237, 237);

  border-radius: 7px;
  border-width: 0.1px;
  border-style: solid;
  border-color: rgb(234, 234, 234);


  height: 30px;
  width: 60%;
  font-family: 'Spectral', serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(48, 48, 48);
}

.num-button {
  padding-bottom: 24px;
  margin-right: 10px;
  padding-left: 0px;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  width: 16px;
  height: 18px;

  font-family: 'Spectral', serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(48, 48, 48);
}

.selected-num {
  text-decoration: underline;
  font-weight: 600;
}