/* DEFAULT STYLES */
.App {
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #5ebfff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.title {
  /* position */
  position: absolute;
  top: 0;
  /* dimension: */
  width: fit-content;
  margin-top: 1vh;
  /* font: */
  text-align: center;
  font-family: 'Baloo 2', serif;
  font-weight: 900;
  font-size: min(3rem, 7vh);
  color: #89A07C;
}


/* @media screen and (min-width: 600px) {
  .title {
    font-size: 36px;
  }
} */

/* @media (max-height: 600px) {
  .title {
    display: none;
  } 
}*/